root = true

[*]
end_of_line = lf
insert_final_newline = true

[*.cs]
indent_style = space
indent_size = 4

[*.{csproj,props,targets,projitems,shproj}]
indent_style = tab

[*.py]
indent_style = space
indent_size = 4

[*.sln]
end_of_line = crlf
indent_style = tab
